ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
span:hover{
    outline: 1px solid blue;
}
img{
    width: 25px;
    height:25px;
}