<div class="fluid-container">
    <div class="row">
        <div class="col-md-3">
<ul [hidden]="!sidebarShow" class="subject">
    <li *ngFor="let subject of subjects" (click)="onSubmitSubject(subject)">
{{subject | uppercase}}
    </li>
</ul>


<div [hidden]="sidebarShow" class="text-center onResize">
    <select name="" [(ngModel)]="subject" id="" class="mt-2">
        <option value="undefined">Please select subject </option>
        <option *ngFor="let subject of subjects" value="{{subject}}">{{subject  | uppercase }}</option>
       </select>

       <button class="btn mt-2 bg-info " (click)="onClick()">Submit</button>
</div>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
